<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/cliente.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<script src="~/js/cliente.js"></script>

<body>

    <!-- Barra superior -->
    <div class="header-bar">
        <button class="B_atras" onclick="history.back()">ATRÁS</button>
        <div class="nombre">Bienvenido: (Nombre del cliente)</div>
        <div class="id">Su ID: (Id Del cliente)</div>
        <div class="fecharegistro">Fecha de Registro: (Fecha de registro del cliente)</div>
    </div>

    <section class="main">
        <!-- Barra lateral -->
        <div class="barra">
            <a class="tipo-btn" href="/Inicio">
                <img src="/img/inicio.png" alt="Inicio" class="icono-btn" />Inicio
            </a>
            <a class="tipo-btn" href="/Alimentos">
                <img src="/img/hamburguesa.png" alt="Alimentos" class="icono-btn" />Alimentos
            </a>
            <a class="tipo-btn" href="/Bebidas">
                <img src="/img/soda.png" alt="Bebidas" class="icono-btn" />Bebidas
            </a>
            <a class="tipo-btn" href="/Postres">
                <img src="/img/helado.png" alt="Postres" class="icono-btn" />Postres
            </a>
            <a class="tipo-btn" href="/Complementos">
                <img src="/img/papas.png" alt="Complementos" class="icono-btn" />Complementos
            </a>
            <a class="tipo-btn" href="/Carrito">
                <img src="/img/carrito.png" alt="Carrito" class="icono-btn" />Carrito
            </a>      
        </div>

        <!-- Contenido principal -->
        <main class="contenido-principal">
            @RenderBody()
        </main>
    </section>

</body>
</html>
