@page
@model dynamic
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Administrador";
    <link rel="stylesheet" href="~/css/admin.css" />
}

    <script src="~/js/auth-guard.js"></script>
    <script src="~/js/api.js"></script>
    <script src="~/js/admin.js"></script>

<div class="page-container">

    <div id="tabla-usuarios"></div>       

    <div id="tabla-productos"></div>

</div>

