@page
@model dynamic
@{
    Layout = "~/Pages/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Alimentos";
    <link rel="stylesheet" href="~/css/alimentos.css" />
}
<script src="~/js/carrito-helper.js"></script>
<script src="~/js/alimentos.js"></script>


<div class="contenedor-alimentos" id="contenedor-alimentos"></div>

