@page
@model dynamic
@{
    Layout = "~/Pages/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Complementos";
    <link rel="stylesheet" href="css/alimentos.css" />
}
<script src="~/js/carrito-helper.js"></script>
<script src="~/js/complementos.js"></script>



<div class="contenedor-bebidas" id="contenedor-complementos"></div>

