@page
@model dynamic
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Perfil";
    <link rel="stylesheet" href="~/css/admin.css" />
}

<script src="~/js/auth-guard.js"></script>
<script src="~/js/api.js"></script>
<script src="/js/perfil.js"></script>

<div class="page-container">

    <h2>Cambiar Contraseña</h2>

    <form id="cambiarPasswordForm">
        <input type="password" id="passwordActual" placeholder="Contraseña actual" required><br />
        <input type="password" id="nuevaPassword" placeholder="Nueva contraseña" required><br />
        <input type="password" id="confirmarPassword" placeholder="Confirmar nueva contraseña" required><br />
        <button type="submit">Guardar cambios</button>
    </form>

    <div id="resultadoCambio" style="margin-top: 15px;"></div>


</div>