@page
@model dynamic
@{
    Layout = "~/Pages/Shared/_LayoutCliente.cshtml";
    ViewData["Title"] = "Postres";
    <link rel="stylesheet" href="@Url.Content("~/css/alimentos.css")">
}
<script src="~/js/carrito-helper.js"></script>
<script src="~/js/postres.js"></script>


<div class="contenedor-bebidas" id="contenedor-postres"></div>
